@page "/Tienda/PedidoFinalizadoOk"


<h3>PedidoFinalizadoOk</h3>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "idcliente")]
    public String idCliente { get; set; }
    [Parameter]
    [SupplyParameterFromQuery(Name = "idpedido")]
    public String idPedido { get; set; }

protected override void OnInitialized()
    {
        Console.WriteLine("PedidoFinalizadoOk.razor: OnInitialized");
        Console.WriteLine("idCliente: " + idCliente);
        Console.WriteLine("idPedido: " + idPedido);
    }
}
